includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Console/ProvisionCommand.php
    ignoreErrors:
        - '#Function Laravel\\Prompts\\#'
